<div class="containerMobile fade-in">
    <div class="playerMobile">
        <p>{{p1.name}}</p>
        <img src={{p1.thumbnail}} attr.class="{{classP1}}">
        <p>Score: {{p1.score}}</p>
    </div>

    <div class="playerMobile">
        <p>{{p2.name}}</p>
        <img src={{p2.thumbnail}} attr.class="{{classP2}}">
        <p>Score: {{p2.score}}</p>
    </div>
</div>



<div class="container fade-in">

    <div #player1 class="player">
        <p class="playerName">{{p1.name}}</p>
        <img src={{p1.thumbnail}} attr.class="{{classP1}}">
        <p class="score">Score: {{p1.score}}</p>
    </div>

    <table class="tabuleiro">
        <td *ngFor="let cmp of [].constructor(campos.length); index as i" attr.id="{{i}}" class="campo" (click)="campoClick($event)">

        </td>
    </table>

    <div #player2 class="player">
        <p class="playerName">{{p2.name}}</p>
        <img src={{p2.thumbnail}} attr.class="{{classP2}}">
        <p class="score">Score: {{p2.score}}</p>
    </div>

</div>