.score {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    margin-bottom: 50px;
}

.playerName {
    color: white;
    text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    margin-top: 10px;
}

.container {
    display: flex;
    justify-content: center;
    width: 100%;
    grid-template-columns: auto auto auto;
    margin-top: 5vh;
    grid-gap: 5vw;
}

.player {
    margin-top: 50px;
}

.active {
    border-style: solid;
    border-color: red;
    border-width: 1vw;
}

img {
    width: 15vw;
    height: 15vw;
    border-style: solid;
    border-color: black;
    border-width: 1vw;
}

.tabuleiro {
    display: inline-grid;
    grid-template-columns: repeat(3, 25vmin);
    grid-template-rows: repeat(3, 25vmin);
    background-color: black;
    color: white;
}

.campo {
    position: relative;
    background-color: darkblue;
    margin: 1.5px;
    font-family: 'Lucida Console';
    text-align: center;
    font-size: 25vmin;
}

.playerMobile {
    display: none;
}

@media only screen and (max-width: 600px) {
    p {
        color: white;
        font-family: Arial;
        margin: 0px;
        padding: 0px;
    }
    span {
        display: inline-block;
        text-align: center;
    }
    .playerMobile {
        display: flex;
        justify-content: center;
        width: 100%;
        grid-template-columns: auto auto;
        grid-gap: 40vw;
        margin-top: 5vh;
    }
    .container {
        justify-content: center;
        width: 100%;
    }
    .player {
        display: none;
    }
    .tabuleiro {
        display: inline-grid;
        grid-template-columns: repeat(3, 30vmin);
        grid-template-rows: repeat(3, 30vmin);
        background-color: black;
    }
}