h1 {
    color: white;
    text-align: center;
    font-family: marvel;
    letter-spacing: 2px;
    font-size: min(10vw, 60px);
    margin-bottom: 0px;
}

.overlay {
    position: absolute;
    visibility: hidden;
    width: 100%;
    height: 100%;
    font-size: min(20vw, 90px);
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    font-family: sans-serif;
}

.selected {
    border-color: red;
    border-style: solid;
    position: relative;
    max-width: 90px;
    max-height: 90px;
    border-style: solid;
}

.board-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

table {
    display: inline-grid;
    grid-template-columns: repeat(5, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    border-style: solid;
    color: white;
}

img {
    width: 100%;
    height: 100%;
    vertical-align: top;
}

.character {
    position: relative;
    max-width: 90px;
    max-height: 90px;
    border-style: solid;
    cursor: pointer;
}

.character:after,
.character:before {
    position: absolute;
    opacity: 0;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

.character:after {
    content: '\A';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
}

.character:before {
    content: attr(data-content);
    font-size: min(3vw, 15px);
    width: 100%;
    color: #fff;
    z-index: 1;
    bottom: 0;
    text-align: center;
    background: red;
    box-sizing: border-box;
    font-family: 'Lucida Console';
}

.character:hover:after,
.character:hover:before {
    opacity: 1;
}