body {
    background-image: url("./assets/img/wallpaper.jpg");
    overflow: hidden;
    user-select: none;
    font-family: marvel;
}

.fade-out {
    animation: fadeOut 2s forwards;
}

@font-face {
    font-family: marvel;
    src: url("src/assets/fonts/marvel.ttf");
}

@keyframes fadeOut {
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 2s forwards;
}

@keyframes fadeIn {
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}